

.app {
  min-height: 100vh;
  margin: 0;
}

.app-header h1 {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

footer {
  margin: 96px 32px;
}

footer li {
  display: inline-block;
  margin-right: 20px;
}

.display-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.flex-wrap {
  flex-wrap: wrap;
}

.main {
  margin: 0;
}

.app-header {
  background: black;
  margin: 0;
  padding: 16px;
  color: #e1e1e1;
  font-weight: 600;
}

.app-header a:hover {
  color: #c1c1c1;
}

ul {
  list-style: none;
  padding: 0;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  padding-right: 48px;
}

.main-nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.course-name {
  padding-top: 20px;
  font-weight: 500;
  font-size: 28px;
}

.container {
  max-width: 1366px;
  padding: 0 16px;
  margin: auto;
}

.project-link {
  padding-top: 20px;
}

.project-link a {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.project-link a:hover {
  text-decoration: underline;
}

.hero {
  min-height: 500px;
  overflow: hidden;
}

.hero img{
  width: 100%;
  z-index: -1;
  object-fit: unset;
}

.hero li {
  margin-bottom: 8px;
}

.hero li a {
  text-decoration: none;
  color: rgb(116, 139, 240);
  font-size: 24px;
}

.hero li.sub-list-item a {
  font-size: 20px;
  margin-left: 12px;
}
.hero li.sub-list-item-l2 a {
  font-size: 16px;
  margin-left: 20px;
}

.hero li a:hover {
text-decoration: underline;
}

.image-holder {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-holder p {
  margin-top: 4px;
}

.image-holder img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  background-color: black;
}

.video-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Project */
.project-header-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project__header {
  margin-top: 20px;
}

.project__header--title,
.project__header--name {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 32px;
  color: rgb(165, 203, 253);
}

.p-item {
  margin: 32px 0 0 0;
}

.p-item.p-sub-item {
  margin: 24px 0 0 0;
}

.p-item.p-sub-item-l2 {
  margin: 16px 0 0 0;
}

.p-item .image-holder {
  flex-basis: 40%;
}

.p-setup .project-list li {
  font-size: 20px;
  margin-bottom: 8px;
  text-align: justify;
  text-justify: inter-word;
}

.p-item .p-item__body {
  flex-wrap: nowrap;
}

.p-item__heading {
  font-weight: bold;
  font-size: 28px;

  margin-bottom: 12px;
}

.sc-sub-item .p-item__heading,
.p-sub-item .p-item__heading {
  font-size: 24px;
  margin-bottom: 8px;
}

.p-sub-item-l2 .p-item__heading {
  font-size: 20px;
  margin-bottom: 4px;
}

.p-sub-item-l2 .p-item-text {
  font-size: 16px;
}

.p-item-text {
  font-size: 20px;
  flex-basis: 60%;
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.p-item__body.no-image {
  flex-basis: 100%;
}

.p-item__body.no-image .p-item-text{
  flex-basis: 100%;
}

.m8bsaying-head,
.m8bsaying-category-head {
  font-weight: bold;
}

.m8bsaying-category-head {
  font-size: 16px;
}

.m8bsaying-category {
  flex-basis: 33.3%;
}

.m8bsaying-category .project-list{
  padding: 0 8px;
}

.m8bsaying-category .project-list li{
  font-size: 14px;
}

.asset {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.asset .asset-text {
  flex-basis: 100%;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

.asset.image-asset .asset-text {
  flex-basis: 60%;
}

.asset.image-asset .image-holder {
  flex-basis: 25%;
}

.model-name {
  font-weight: bold;
}

.essay {
  margin-top: 24px;
}

.essay .essay-heading {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.sc-container .p-item-text,
.sc-container .project-list li {
  font-weight: 500;
}

.essay .essay-text {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.sc-heading {
  margin-top: 24px;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 30px;
}

.sc-sub-item {
  margin-bottom: 30px;
}

.sc-item {
  margin-bottom: 24px;
}

.sc-item-small {
  width: 700px;
  margin: auto;
}

.sc-video iframe {
  width: 700px;
  height: 500px;
  margin: auto;
  max-width: 100%;
  display: inherit;
}

.sc-item .video-holder {
  width: 700px;
  max-width: 100%;
  height: 500px;
}

.sc-sub-item .p-item-text {
  font-size: 16px;
}

.sc-item.sc-item-2,
.sc-item.sc-item-3 {
  margin-bottom: 30px;
}

video {
  max-width: 100%;
}


@media only screen and (max-width: 768px) {
  .main-nav ul {
    flex-wrap: wrap;
  }
  .hero {
    overflow: visible;
  }
  .hero img {
    height: 100%;
    object-fit: cover;
  }
  .hero li a {
    font-size: 16px;
  }
  .hero li.sub-list-item a {
    font-size: 14px;
    margin-left: 4px;
  }
  .hero li.sub-list-item-l2 a {
    font-size: 12px;
    margin-left: 8px;
  }
  .hero li {
    margin-bottom: 4px;
  }

  .project-header-container {
    justify-content: left;
  }

  .project-header-container .project__header {
    flex-basis: 100%;
  }

  .p-item {
    margin: 24px 0 0 0;
  }
  
  .p-item.p-sub-item {
    margin: 20px 0 0 0;
  }
  
  .p-item.p-sub-item-l2 {
    margin: 12px 0 0 0;
  }

  .p-item .image-holder {
    flex-basis: 100%;
  }

  .p-item .p-item__body {
    flex-wrap: wrap;
  }

  .p-item__heading {
    font-size: 24px;
  }

  .sc-sub-item .p-item__heading,
  .p-sub-item .p-item__heading {
    font-size: 20px;
  }

  .p-sub-item-l2 .p-item__heading {
    font-size: 16px;
  }

  .p-sub-item-l2 .p-item-text {
    font-size: 12px;
  }

  .p-item-text {
    flex-basis: 100%;
    font-size: 16px;
    line-height: 1.5;
  }

  .p-setup .project-list li {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .asset {
    flex-wrap: wrap;
  }

  .asset .asset-text,
  .asset.image-asset .asset-text {
    flex-basis: 100%;
  }

  .asset.image-asset .image-holder {
    flex-basis: 100%;
  }

  iframe {
    max-width: 100%;
  }

  .sc-heading {
    margin-top: 24px;
    font-weight: 600;
    font-size: 32px;
  }
  
  .sc-item {
    margin-bottom: 16px;
  }

  .sc-item.sc-sub-item {
    margin-bottom: 30px;
  }
  

  .sc-item-small {
    width: 100%;
  }

  .sc-video iframe {
    height: 300px;
  }

  .sc-item .video-holder {
    height: 400px;
  }
} 